*{
    margin: 0 auto;
    box-sizing: border-box;

}
div.container-fluid {
    background-color: rgb(35, 61, 88);
    max-width: 1200px;
    height: 120vh;
}



li#faq {
    color: rgb(248, 147, 31);
    text-align: left;
    font-family: 'aller';
    font-weight: bold;
}
p {
  color: #FFF;
  text-align: left;
}

.mainperfil{
    position: relative;
    width: 100%;
    margin-top: 5vh;
    
}
.mainperfil h1{
    font-family: 'aldo';
    font-size: 2.1em;
    width: 50%;
    margin-top: 0vh;
}

.titulo{
    color: #FFF;
    text-align: center;
}

form {
    position: relative;
    color: #FFF;
    width: 80%;
    left: 0%;
}

.lineahorizontal{
    border-width: 1px;
    border-color: #FFF;
}
ul.nav-pills li{
    display: none;
}

nav#principal{
    overflow: hidden;
    width: 100%;
    height: 10vh;

}
nav#principal img{
    float: left;
    position: relative;
    width: 4%;
    top: 2vh;
    left: 1%;
}
nav#principal h2{
    float: left;
    position: relative;
    width: 15%;
    top: 4vh;
    left: 2%;
    color: white;
    font-family: "aldo";
    font-size: 1.6em;

}
nav#principal ul{
    overflow: hidden;
    float: left;
    left: 25%;
    top: 3vh;
    width: 55%;
    position: relative;
    right: 1%;


}

nav#principal ul li{

    float: left;
    left: 60%;
    width: 14%;
    margin-left:2%;
    list-style: none;

}
nav#principal ul li a{

    padding-left: 0%;
    color: white;
    text-align: center;
    font-family: 'aldo';
    font-size: 1.2em;


}
nav#principal ul li a:hover{
    color: red;

}

nav#principal ul li#faq{
    padding-left: 4%;

}
div.animation #particles-js{
    width: 95%;
    height: 100vh;
    margin-left: 0%;
	min-height: 300px;
	position: absolute;
}

div#redesSociales{
    height: 15vh;
    margin-top: 8vh;
}


div#redesSociales ul{
    overflow: hidden;
    margin-bottom: 0vh;
    margin-top: 0vh;
    padding-left: 33%;

}

div#redesSociales ul li{
    float: left;
    list-style:none;
    width: 5%;
    font-size: 1.8em;
    padding-left: 5%;
}

#redesSociales ul li a i {
    position: relative;
    color: white;
    margin-left: 1%;

}

#redesSociales ul li a i:hover{
    transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -o-transform: scale(1.4);
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}
div#copy{
    position: relative;
    margin-top: 2vh;

    left: 38%;

}

div#copy h4{
    color: white;
    font-family: "aldo";
    font-size: 1em;

}

/* PHONE */

@media (max-width:767px){
    div.container-fluid {
        background-color: rgb(35, 61, 88);
        max-width: 1200px;
        height: 200vh;
    }

    nav#principal{
        overflow: hidden;
        width: 100%;
        height: 8vh;
    }

    nav#principal img{
        float: left;
        position: relative;
        width: 10%;
        top: 0vh;
        left: 1%;
    }

    nav#principal h2{
        float: left;
        position: relative;
        width: 30%;
        top: 1vh;
        left: 4%;
        color: white;
        font-family: "aldo";
        font-size: 1.4em;
    }

    nav#principal ul{
        display: none;
    }

    ul.nav-pills li{
        display: block;
        position: relative;
        background-color: rgb(248, 147, 31);
        margin-right: 2%;
        margin-top: 2vh;
        width: 35%;
        height: 5vh;
        border-radius: 15px;
        -webkit-border-radius: 15px    ;
        -moz-border-radius: 15px    ;
        -ms-border-radius: 15px    ;
        -o-border-radius: 15px    ;
    }
    ul.nav-pills li a{
        color: white;
        text-align: center;
        font-family: "aller";
        font-size: 1.2em;

    }

    div.dropdown-menu{
        background-color: rgb(35, 61, 88);

    }


    div#redesSociales{
        margin-left: 0%;

    }
    div#redesSociales ul{

        margin-left: 0%;
        overflow: hidden;
        padding-left: 0%;
        padding-top: -2vh;


    }

    div#redesSociales ul li{

        float: left;
        list-style:none;
        width: 12%;
        font-size: 1.3em;
        padding-left: 13%;
    }

    div#redesSociales ul li a i{
        position: relative;
        color: white;
  }
  div#copy{
      text-align: left;
      position: relative;
      margin-top: 2vh;
      bottom: 0vh;
      left: 16%;

  }

  div#copy h4{
      position: relative;
      color: white;
      font-family: "aldo";
      font-size: 1em;

  }

    div.animation #particles-js{
          display: none;
  }
  .mainperfil{
    width: 100%;
    margin-top: 0vh;

  }
  
  .mainperfil h1{
    
    font-size: 1.8em;
    width: 70%;
    margin-top: 0vh;
}

.titulo{
    color: #FFF;
    text-align: center;
}


li#faq {
    position: relative;
    color: rgb(248, 147, 31);
    text-align: left;
    font-family: 'aller';
    font-weight: bold;
    width: 98%;
    }
p {
    color: #FFF;
    text-align: left;
    margin: 0px;
    width: 98%;
    }
}

/* TABLET */

@media (max-width:991px) and (min-width:768px){
    nav#principal img{
        width: 6%;
        top: 2.5vh;

    }

    nav#principal h2{
        width: 20%;
        top: 3.5vh;
        font-size: 1.6em;

    }

    nav#principal ul{
        left: 12%;
        top: 3.5vh;
        width: 65%;
        right: 0%;
    }

    nav#principal ul li{

        left: 60%;
        width: 16%;
        margin-left:0%;

    }

    nav#principal ul li a{

        padding-left: 6%;
        font-size: 1.2em;

    }


    nav#principal ul li#faq{
        padding-left: 5%;

    }
    .mainperfil{
       margin-top: 0vh;
        
    }

    
    div.form-group{
        margin-top: 10vh;
        width: 80%;
        margin-left: 10%;
    }
    

    div#redesSociales{
        height: 10vh;
        margin-left: 0%;
        margin-top: 1vh;
    
    }
    div#redesSociales ul{
        
        margin-left: 16%;
        overflow: hidden;
        padding-left: 0%;
        margin-top: 18vh;
       
        
    
    }
    
    div#redesSociales ul li{
    
        float: left;
        list-style:none;
        width: 12%;
        
    }
        
    div#redesSociales ul li a i{
        position: relative;
        color: white;
        font-size: 1.2em;
        margin-left: 0%;
    }
    div#copy{
        position: relative;
        width: 100%;
        position: relative;
        margin-top: 3vh;
        margin-left: -25%;
        
        
    
    }
    
    div#copy h4{
        color: white;
        font-family: "aldo";
        font-size: 1em;
        padding-left: 20%;
    }
    div.container-fluid {
        background-color: rgb(35, 61, 88);
        max-width: 1200px;
        height: 120vh;
    }

    #faq {
        color: rgb(248, 147, 31);
        text-align: center;
        font-family: 'aller';
        font-weight: bold;
    }
    p {
      color: #FFF;
      text-align: left;
    }
    }
