.mainperfil{
    width: 50%;
}

.titulo{
    color: #FFF;
    text-align: center;
}

form label{
    color: #FFF;
}

.lineahorizontal{
    border-width: 1px;
    border-color: #FFF;
}

.imagenperfil{
    border-radius: 5%;
    width: 150px;
    height: 150px;
}

.textoperfil{
    color: #FFF;
    position: relative;
    float: left;
    margin-left: 15px;
}

.cuerpoperfil{
    position: relative;
    float: left;
}