 .mainperfil{
    width: 50%;
}

.titulo{
    color: #FFF;
    text-align: center;
    font-family: 'aldo';
    margin-top: 0vh;
}



form label{
    position: relative;
    color: #FFF;
    margin-left: 38%;
    margin-top: 2vh;
    width: 25%;
    text-align: center;
    font-family: 'aller';
    font-size: 1.1em;
    
}

.lineahorizontal{
    border-width: 1px;
    border-color: #FFF;
}


button.boton-submit{
    margin-top: 4vh;
    margin-left: 30%;
    color: #fff;
    width: 40%;
    background-color: rgb(248, 147, 31);
    border-radius: 20px;;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
button.btn{
    color: white;
    font-family: "aller";
    font-size: 1.4em;   

}
input#email{
    position: relative;
    margin-left: 22%;
    
    width: 55%;

}
div#textarea{
    position: relative;
    margin-left: 22%;
    
}






@media (max-width:767px){

   



    .mainperfil{
        width: 90%;
    }


    button.boton-submit{
        width: 70%;
        margin-top: 3vh;
    }
    .titulo{
        margin-top: 2vh;

    }
    div#textarea{
        position: relative;
        margin-left: 0%;
        width: 40%;
        
    }
    input#email{
        position: relative;
        margin-left: 1%;
        
        width: 100%;
    }
    form label{
        
        margin-left: 35%;
           
    }
    button.boton-submit{
        margin-top: 6vh;
        margin-left: 15%;
    }



}
@media (max-width:991px) and (min-width:768px){

    nav#principal ul{
        width: 70%;
    
       }



    .mainperfil{
        width: 95%;
    }
    
    .titulo{
        width: 95%;
        color: #FFF;
        text-align: center;
        font-family: 'aldo';
        font-size: 2.2em;
        margin-top: 6vh;
    }
    
    
    textarea{
        width: 70%;
        
    }
    input#email{
        width: 55%;


    }
    
    .lineahorizontal{
        border-width: 1px;
        border-color: #FFF;
    }
    div.animation #particles-js{
       display: none;
    
    }
    button.btn{
        
        margin-top: 8vh; 
    
    }
}
