*{
    margin: 0 auto;
    box-sizing: border-box;

}
/* for desktop */
div.container-fluid {
    /*width: 100%;*/
    background-color: rgb(35, 61, 88);
    max-width: 1200px;
    height: 100vh;

}
ul.nav-pills li{
    display: none;
}


nav#principal{
    overflow: hidden;
    width: 100%;
    height: 10vh;
    /*background-color: rgba(41, 171, 226, 1);*/
}
nav#principal img{
    float: left;
    position: relative;
    width: 4%;
    top: 1vh;
    left: 1%;
}
nav#principal h2{
    float: left;

    position: relative;
    width: 15%;
    top: 2vh;
    left: 2%;
    color: white;
    font-family: "aldo";
    font-size: 1.6em;

}
nav#principal ul{
    overflow: hidden;
    float: left;
    left: 35%;
    top: 3vh;
    width: 55%;
    position: relative;
    right: 1%;


}

nav#principal ul li{

    float: left;
    left: 60%;
    width: 10%;
    margin-left:2%;
    list-style: none;

}
nav#principal ul li a{
    padding-left: 0%;
    width: 100%;
    color: white;
    text-align: center;
    font-family: 'aldo';
    font-size: 1.2em;

}
nav#principal ul li#faq{
    padding-left: 4%;

}
/*div.animation #particles-js{
    width: 80%;
	height: 100vh;
	/*margin-left: 10%;*/
	/*min-height: 300px;
	position: absolute;

}*/
/*div.spinner-grow{
    margin-left: 48.5%;
}*/




#redesSociales ul{
    width: 120%;
    overflow: hidden;
    margin-bottom: 0vh;
    padding-left: 41%;
    padding-top: 2%;

}
#redesSociales ul li{

    float: left;
    list-style:none;
    width: 4%;

}
#redesSociales ul li a i{
    position: relative;
    color: white;
    font-size: 1.7em;
    margin-left: 1%;




}
#redesSociales small{
    color: white;
    margin-left: 42%;
}


article.curso{
    overflow: hidden;
    
}
div#titulo {
    width: 40%;
    float: left;
    margin-top: 2vh;
    color: white;

}
div#titulo h1{
    width: 100%;
    text-align: center;
    font-family: 'aldo';
    color: white;
}
div#titulo h2{
    width: 100%;
    text-align: center;
    font-family: 'aldo';
    color: white;
}

div#titulo p{
    width: 100%;
    text-align: center;
    font-family: 'aller';
    color: white;
}

div#titulo h3{
    width: 100%;
    text-align: center;
    font-family: 'aldo';
    font-size: 1.4em;
    color: white;
}
div#titulo ul{
    color: white;
    font-family: "aller";
    margin-left:5%;
    display: block;
    font-size: 1em;
}

article.curso video{
    float: left;
    width: 55%;
    margin-top: 2vh;
    margin-left: 2%;
}
section button{

    position: relative;
    margin-left: 40%;
    width: 20%;
    height: 8vh;
    background-color: rgb(248, 147, 31);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    text-align: center;
    padding-top: 1vh;
    color: white ;
    font-family: 'aller';
    font-size: 1.4em;
    

}
section button:hover{
    transform: scale(1.2) ;
    -webkit-transform: scale(1.2) ;
    -moz-transform: scale(1.2) ;
    -ms-transform: scale(1.2) ;
    -o-transform: scale(1.2) ;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
    text-decoration: none;

}
div#copy h4{
    color: white;
    font-family: 'aller';
    font-size: 0.8em;
    width: 100%;
    text-align: center;
    margin-top: 2%;

}

/* for mobile phone */




@media (max-width:767px){

    nav#principal{
        overflow: hidden;
        width: 100%;
        height: 8vh;
        
    }
    
    nav#principal img{
        float: left;
        position: relative;
        width: 10%;
        top: 0vh;
        left: 1%;
    }

    nav#principal h2{
        float: left;
        position: relative;
        width: 30%;
        top: 1vh;
        left: 4%;
        color: white;
        font-family: "aldo";
        font-size: 1.4em;
    }
    nav#principal ul{
        display: none;
    }

    ul.nav-pills li{
        display: block;
        position: relative;
        background-color: rgb(248, 147, 31);
        margin-right: 2%;
        margin-top: 2vh;
        width: 35%;
        height: 5vh;
        border-radius: 15px;
        -webkit-border-radius: 15px    ;
        -moz-border-radius: 15px    ;
        -ms-border-radius: 15px    ;
        -o-border-radius: 15px    ;
    }
    ul.nav-pills li a{
        color: white;
        text-align: center;
        font-family: "aller";
        font-size: 1.2em;
        
    }
    
    div.dropdown-menu{
        background-color: rgb(35, 61, 88);

    }




    article.curso{
        overflow: hidden;
        
    }
    div#titulo {
        width: 98%;
        float: left;
        margin-top: 2vh;
        color: white;
    
    }
    div#titulo h1{
        width: 100%;
        text-align: center;
        font-family: 'aldo';
        font-size: 1.5em;
        color: white;
    }
    div#titulo h2{
        width: 100%;
        text-align: center;
        font-family: 'aldo';
        font-size:1.2em; 
        color: white;
    }
    
    div#titulo p{
        display:none;
    }
    
    div#titulo h3{
        display: none;
        
    }
    div#titulo ul{
        color: white;
        font-family: "aller";
        margin-left:5%;
        display: block;
        font-size: 1em;
    }
    
    article.curso video{
        float: left;
        width: 98%;
        margin-top: 2vh;
        margin-left: 0%;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
}
    section button{
        margin-left: 25%;
        width: 50%;
        height: 6vh;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        margin-top: 6vh;
        font-size: 1.2em;
    }
    
    
    div#redesSociales{
        margin-left: 0%;
        margin-top: 8vh;

    }
    div#redesSociales ul{
        
        margin-left: 10%;
        overflow: hidden;
        padding-left: 0%;
        padding-top: 4vh;
        

    }
    
    div#redesSociales ul li{
    
        float: left;
        list-style:none;
        width: 12%;
        
    }
        
    div#redesSociales ul li a i{
        position: relative;
        color: white;
        font-size: 1.7em;
        margin-left: 1%;
    }
    div#copy{
        position: relative;
        margin-top: 2vh;
        

    }

    div#copy h4{
        color: white;
        font-family: "aldo";
        font-size: 1em;
        padding-left: 0%;

    }

}  
/* for tablet */






@media (max-width:1024px) and (min-width:768px){
  nav#principal img{
      width: 3%;
      top: 2.5vh;

  }

  nav#principal h2{
      width: 15%;
      top: 2.5vh;
      font-size: 1.4em;

  }

  nav#principal ul{
      left: 16%;
      top: 3vh;
      width: 60%;
      right: 0%;



  }

  nav#principal ul li{

      left: 60%;
      width: 16%;
      margin-left:0%;

  }

  nav#principal ul li a{

      padding-left: 6%;
      font-size: 1em;

  }


  nav#principal ul li#faq{
      padding-left: 5%;

  }
  
}
